@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", required="required"})

  <input type="submit" class="btn btn-warning mt-5" value="Add new machine" />
}
<p>@Html.ActionLink("Show all of our machines", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
